<div fxLayout="row" fxLayoutGap="10px" class="stats-cards">
  <app-widget-autocomplete fxFlex="30" (selectedListing)="setSelectedListing($event)"></app-widget-autocomplete>
  <div fxFlex="70"></div>
</div>


<!--   -->
<form *ngIf="isDerivative" [formGroup]="symbolForm" (ngSubmit)="onSubmit(symbolForm.value)">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Period</mat-label>
          <mat-select formControlName="period" name="period">
            <mat-option *ngFor="let period of periods" [value]="period.value">
              {{period.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>        
        <mat-form-field class="example-full-width">
          <mat-label>Instrument</mat-label>
          <mat-select formControlName="instrument" name="instrument" (selectionChange)="onInstrumentChange($event)">
            <mat-option *ngFor="let item of intstruments" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <mat-select formControlName="expiry" name="expiry" (selectionChange)="onExpiryChange()">
            <mat-option *ngFor="let item of expiries" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>        
      </td>
    </tr> 
    <tr>
      <td>        
        <mat-form-field class="example-full-width">
          <mat-label>Option Type</mat-label>
          <mat-select formControlName="option" name="option" (selectionChange)="onOptionTypeChange($event)">
            <mat-option *ngFor="let item of options" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>        
        <mat-form-field class="example-full-width">
          <mat-label>Strike Prices</mat-label>
          <mat-select formControlName="strikePrice" name="strikePrice">
            <mat-option *ngFor="let item of strikePrices" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <button mat-stroked-button color="primary" type="submit">Submit</button>

</form>