<div fxLayout="row" *ngIf="cards" fxLayoutGap="5px" class="stats-cards"> <br>
    <mat-card fxFlex="100" fxLayoutAlign="space-between center" fxLayoutGap="5px">
        <div fxFlex="10">
            <div fxFlex="94" class="margin-right">
                <h3>Close</h3>
                <span class="total"><b>{{ cards.close | number : '1.2-2'}}</b></span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div fxFlex="10">
            <div fxFlex="94" class="margin-right">
                <h3>High</h3>
                <span class="total">{{ cards.high | number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div fxFlex="10">
            <div fxFlex="94" class="margin-right">
                <h3>Low</h3>
                <span class="total">{{ cards.low | number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div fxFlex="10">
            <div fxFlex="94" class="margin-right">
                <h3>Average</h3>
                <span class="total" [ngClass]="toggleClass('green', 'red', cards.average)">{{ cards.average | number :
                    '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div fxFlex="10">
            <div fxFlex="94" class="margin-right">
                <h3>EMA 20</h3>
                <!-- [ngClass]="toggleClass('coral', 'red', cards.ema_20)" -->
                <span class="total">{{ cards.ema_20 | number
                    : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div fxFlex="10">
            <div fxFlex="94" class="margin-right">
                <h3>Trend</h3>
                <span class="total" [ngClass]="toggleClass('green', 'red', cards.trend)">{{ cards.trend |
                    number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div fxFlex="10">
            <div fxFlex="94" class="margin-right">
                <h3>EMA 5</h3>
                <span class="total" [ngClass]="toggleClass('green', 'red', cards.ema_5)">{{ cards.ema_5 | number :
                    '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div fxFlex="10">
            <div fxFlex="94" class="margin-right">
                <h3>HL - 3</h3>
                <span class="total" [ngClass]="toggleClass('magenta', 'violet', cards.hl_3)">{{ cards.hl_3
                    | number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div fxFlex="10">
            <div fxFlex="94" class="margin-right">
                <h3>RSI</h3>
                <span class="total" [ngClass]="toggleRSIClass(cards.rsi)"><b>{{ cards.rsi | number :
                        '1.2-2'}}</b></span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div fxFlex="10">
            <div fxFlex="94" class="margin-right">
                <h3>Lower L</h3>
                <!-- [ngClass]="toggleClass('gold', 'red', cards.lower_l)" -->
                <span class="total">{{ cards.lower_l |
                    number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div fxFlex="10">
            <div fxFlex="94" class="margin-right">
                <h3>Barish</h3>
                <span class="total" [ngClass]="toggleClass('gold', 'red', cards.barish)">{{ cards.barish |
                    number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div fxFlex="10">
            <div fxFlex="94" class="margin-right">
                <h3>Support</h3>
                <span class="total" [ngClass]="toggleClass('purple', 'red', cards.support)">{{ cards.support
                    | number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div fxFlex="10">
            <div fxFlex="94" class="margin-right">
                <h3>Bullish</h3>
                <span class="total" [ngClass]="toggleClass('darkblue', 'red', cards.sell)"><b>{{ cards.sell |
                        number : '1.2-2'}}</b></span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div fxFlex="10">
            <div fxFlex="94" class="margin-right">
                <h3>Prev-Buy</h3>
                <span class="total">{{ cards.prev_buy | number : '1.2-2'}}</span>
            </div>
        </div>
    </mat-card>
</div>

<!-- <div *ngIf="cards">
    <br>
    <mat-divider></mat-divider>
    <br>
</div>
<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between center" class="stats-cards">
    <mat-card fxFlex="100">
        <app-widget-stock></app-widget-stock>
    </mat-card>
</div> -->