<div fxLayout="row" *ngIf="cards" fxLayoutGap="5px" class="stats-cards">    <br>
    <mat-card fxFlex="100" fxLayoutAlign="space-between center" fxLayoutGap="5px" (click)="toggleEnable(cards[3], 'High')">
        <div fxFlex="16">
            <div fxFlex="100" class="margin-right">
                <h3>{{ cards.Close.name }}</h3>            
                <span class="total" ><b>{{ cards.Close.value  | number : '1.2-2'}}</b></span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>            
        </div>
        <div fxFlex="16">
            <div fxFlex="100" class="margin-right">
                <h3>{{ cards.High.name }}</h3>            
                <span class="total" >{{ cards.High.value  | number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>            
        </div>
        <div fxFlex="16">
            <div fxFlex="100" class="margin-right">
                <h3>{{ cards.Low.name }}</h3>            
                <span class="total" >{{ cards.Low.value  | number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>            
        </div>
        <div fxFlex="16">
            <div fxFlex="100" class="margin-right">
                <h3>{{ cards.AVG.name }}</h3>            
                <span class="total" [ngClass]="toggleClass('green', 'red', cards.AVG.value)">{{ cards.AVG.value  | number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>            
        </div>
        <div fxFlex="16">
            <div fxFlex="100" class="margin-right">
                <h3>{{ cards.EMA5.name }}</h3>            
                <span class="total" [ngClass]="toggleClass('green', 'red', cards.EMA5.value)">{{ cards.EMA5.value  | number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>            
        </div>
        <div fxFlex="16">
            <div fxFlex="100" class="margin-right">
                <h3>{{ cards.EMA20.name }}</h3>            
                <span class="total" [ngClass]="toggleClass('coral', 'red', cards.EMA5.value)">{{ cards.EMA20.value  | number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>            
        </div>
        <div fxFlex="16">
            <div fxFlex="100" class="margin-right">
                <h3>{{ cards.RSI.name }}</h3>            
                <span class="total" [ngClass]="toggleRSIClass(cards.RSI.value)">{{ cards.RSI.value  | number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>            
        </div>
        <div fxFlex="16">
            <div fxFlex="100" class="margin-right">
                <h3>{{ cards.HL3.name }}</h3>            
                <span class="total"  [ngClass]="toggleClass('magenta', 'violet', cards.HL3.value)"><b>{{ cards.HL3.value  | number : '1.2-2'}}</b></span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>            
        </div>
        <div fxFlex="16">
            <div fxFlex="100" class="margin-right">
                <h3>{{ cards.Trend.name }}</h3>            
                <span class="total"  [ngClass]="toggleClass('gold', 'red', cards.EMA20.value)">{{ cards.Trend.value  | number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>            
        </div>
        <div fxFlex="16">
            <div fxFlex="100" class="margin-right">
                <h3>{{ cards.Moment.name }}</h3>            
                <span class="total"  [ngClass]="toggleClass('gold', 'red', cards.EMA20.value)">{{ cards.Moment.value  | number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>            
        </div>
        <!-- <div fxFlex="16">
            <div fxFlex="100" class="margin-right">
                <h3>{{ cards.Open.name }}</h3>            
                <span class="total"  [ngClass]="toggleClass('green', 'red', cards.Open.value)">TBD</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>            
        </div> -->
        <div fxFlex="16">
            <div fxFlex="100" class="margin-right">
                <h3>{{ cards.Buy.name }}</h3>            
                <span class="total"  [ngClass]="toggleClass('green', 'red', cards.Buy.value)"><b>{{ cards.Buy.value  | number : '1.2-2'}}</b></span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>            
        </div>
        <div fxFlex="16">
            <div fxFlex="100" class="margin-right">
                <h3>{{ cards.Support.name }}</h3>            
                <span class="total"  [ngClass]="toggleClass('purple', 'red', cards.Support.value)">{{ cards.Support.value  | number : '1.2-2'}}</span>
            </div>
            <mat-divider [vertical]="true"></mat-divider>            
        </div>
        <div fxFlex="16">
            <div fxFlex="100" class="margin-right">
                <h3>{{ cards.Sell.name }}</h3>            
                <span class="total"  [ngClass]="toggleClass('darkblue', 'red', cards.Sell.value)">{{ cards.Sell.value  | number : '1.2-2'}}</span>
            </div>           
        </div>
    </mat-card>
</div>

<div  *ngIf="cards">
    <br>
    <mat-divider></mat-divider>
    <br>
</div>
<div fxLayout="row" fxLayoutGap="5px"  fxLayoutAlign="space-between center" class="stats-cards">
    <mat-card fxFlex="100">
        <app-widget-stock></app-widget-stock>
    </mat-card>
</div>