
.green{
    color:green
}

.red{
    color:red
}

.darkblue {
    color:darkblue
}

.gold {
    color:rgb(155, 132, 0);
}

.violet {
    color:violet;
}

.magenta {
    color:magenta;
}

.purple {
    color:purple;
}

.margin-right{
    margin-right: -5px;
}

.cursor{
    cursor:pointer;
}

table {
    width: 100%;
}

h3{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
}

.total{
    font-size: 1.20em;
}

.mat-icon,
.description{
    color:green;
    font-size: 1.5em;
}

.margin-left{
    margin-left: 10px;
}

.custom-mat-divider{
    
   border-top-width: 2px;
   border-top-style: solid;
   border-top-color: whitesmoke;
}