<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSideBar()">
          <mat-icon>menu</mat-icon>
      </button>
      <span>Market Trends App</span>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
            <li>
                <button mat-button [matMenuTriggerFor]="settingsMenu">
                    <mat-icon>settings</mat-icon>
                </button>
                <mat-menu #settingsMenu="matMenu">                   
                    <button (click)=resetIndex() mat-menu-item>
                        <mat-icon>exit_to_app</mat-icon>
                        Reset Index
                    </button>
                </mat-menu>
            </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>