package components

import "github.com/vsheoran/trends/pkg/contracts"

templ SearchTickerResult(listings []contracts.Listing) {
   for _, l := range(listings) {
    <div class="px-4 py-2 mx-w-1xl" id={ l.Symbol } hx-post="/add-ticker" hx-trigger="click" hx-swap="multi:#add-ticker-section:outerHTML,#tickers:outerHTML">
      { l.Symbol }
    </div>
  }
}
