package components

import "fmt"

templ Stat(key string, val float64, color string ) {
    <div class="mb-12 text-center md:mb-0 md:border-r-2 ">
        <p class={ "font-bold text-xl " + color }>{ fmt.Sprintf("%.2f", val)}</p>
        <p class="text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400">
            { key }
        </p>
    </div>
}
