package components

import "github.com/vsheoran/trends/pkg/contracts"

templ SummaryData(data map[string]*contracts.Summary) {
	// px-4 py-16 mx-auto md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20
	// TODO: Initialize seperate socket connection for each ticker.
	<div hx-ext="ws" ws-connect="/ws/ticker">
    	<div id="tickers" >
			for k, s := range data {
				@Message(k, s)
			}

		</div>
	</div>
}